<h1>All Articles</h1>
<ul id="articles">
	<% @articles.each do |article| %>
	<li> 
		<%= link_to article.title, article_path(article) %></br>
		<% if logged_in? %>
			<p align=right><%= link_to "Delete: #{article.title}", article_path(article), method: :delete, data: {confirm: "Really want to delete?"} %> </p>
		<% end %>
		
	</li>
	<% end %>
</ul>
</br>
<% if logged_in? %>
	<%= link_to "Create a new Article", new_article_path, class: 'article_title' %>
<% end %>