<h1>All Tags</h1>
<ul id="tags">
  <% @tags.each do |tag| %>
    <li><%= link_to tag.name, tag_path(tag) %></li>
    <p align=right><%= link_to "Delete: #{tag.name}", tag_path(tag), method: :delete, data: {confirm: "Really want to delete?"} %> </p>
  <% end %>
</ul>
</ul>
</br>
